body
	padding-top: 70px

// do not show href url when printing
@media print
	a[href]:after
		content: none

// this is for angular ui bootstrap, see https://angular-ui.github.io/bootstrap/#/getting_started
.nav, .pagination, .carousel, .panel-title a 
	cursor: pointer

// show click mouse when over ng-click element
[ng-click]
[data-ng-click]
[x-ng-click]
	cursor: pointer

.left-space-5
	margin-left: 5px

.left-space-10
	margin-left: 10px

.top-space-5
	margin-top: 5px

.top-space-10
	margin-top: 10px
	
.padding-5
	padding: 5px

.menu
	padding: 2px

.btn-order
	width: 30px
	
.order-sum
	text-align: right
	
.table tbody>tr>td>.input-group
	width: 350px
	
.table tbody>tr>td.vert-align
	vertical-align: middle
	
.order-item-price
	width: 5em
	
.order-item-name
	width: 15em