.container
	.panel.panel-primary.top-space-10(ng-if="orders.length")
		.panel-heading 
			h3.panel-title Angefangene Bestellungen
		.panel-body
			.padding-5
				.row
					.col-md-12
						.row
							.col-md-4.menu(ng-repeat="order in orders")
								.well
									.text-center Bei 
										strong {{ menu_name(order.menu) }}
									.text-center organisiert von 
										strong {{ order.user.username }}
									.text-center.top-space-10
										button.btn.btn-info(ng-click="gotoOrder(order)") Bestellen
										button.btn.btn-default(ng-click="gotoOrderSummary(order)") Bestellung ansehen

	.panel.panel-primary.top-space-10
		.panel-heading 
			h3.panel-title Neue Bestellung anlegen
		.panel-body
			.padding-5
				.row
					.col-md-12
						.row
							.col-md-4.menu(ng-repeat="menu in menus")
								.well
									.text-center 
										strong {{ menu.name }}
									.text-center 
										small {{ menu.description }}
									.text-center.top-space-10
										button.btn.btn-success(ng-click="createNewOrder(menu)") Neue Bestellung starten

