.container
	.well
		span Bestellung bei 
		strong {{order.menu.name}} 
		span  organisiert von 
		strong {{order.user.username}}

	.panel.panel-primary.top-space-10
		.panel-heading 
			h3.panel-title Meine Bestellung
		.panel-body
			.row
				.col-md-4.menu(ng-repeat="order in orders")
					a.well(ng-href="/order/{{order._id}}")
						h2 {{order.menu.name}}

	.panel.panel-primary.top-space-10
		.panel-heading 
			h3.panel-title Favoriten
		.panel-body
			.row
				.col-md-4.menu(ng-repeat="order in orders")
					a.well(ng-href="/order/{{order._id}}")
						h2 {{order.menu.name}}

	.panel.panel-primary.top-space-10
		.panel-heading 
			h3.panel-title Alle Gerichte
		.panel-body
			.row
				form.hidden-print
				.form-group
					.input-group
						.input-group-addon
							i.glyphicon.glyphicon-search
						input.form-control(type="text", placeholder="Hier kannst du nach allem suchen. Gerichten, Zutaten...", ng-model="search")

			.row
				.col-md-12.menu(ng-repeat="item in order.menu.items | filter:search")
					span {{item.name}}
