.container
	.well
		span Bestellung bei 
		strong {{ menu.name }} 
		span.text-muted ({{ menu.phone }})
		span  organisiert von 
		strong {{ order.user.username }}
		.pull-right.left-space-5
			button.btn.btn-warning.btn-sm(ng-if="order.isOpen", ng-click="closeOrder()") Bestellung schließen
		.pull-right.left-space-5
			button.btn.btn-success.btn-sm(ng-if="!order.isOpen", ng-click="openOrder()") Bestellung öffnen
		.pull-right.left-space-5
			button.btn.btn-primary.btn-sm(ng-disabled="!order.isOpen", ng-click="gotoOrder(order)") Bestellen

	.alert.alert-danger(ng-if="!order.isOpen", role="alert")
		| Bestellung ist geschlossen! Keine Änderung mehr möglich.

	.panel.panel-primary.top-space-10
		.panel-heading 
			h3.panel-title Zusammenfassung
		.panel-body
			.padding-5
				.row(ng-show="order.order_items && order.order_items.length")
					.col-md-12
						table.table.table-striped.table-condensed
							thead
								tr
									th #
									th Name
									th Beschreibung
									th Wer
									th Extrawünsche
									th Preis

							tfoot
								tr
									td
									td
									td
									td
									td.order-sum Summe:
									td 
										strong.pull-right {{ order_sum }} €

							tr(ng-repeat="order_item in order.order_items")
								td {{order_item.order_number}}
								td {{order_item.name}}
								td 
									small.text-muted {{order_item.description}}
								td {{order_item.user.username}}
								td
									.text-danger {{order_item.specials}}
								td.pull-right {{order_item.price}} €
